/*body {
  display: flex;
  justify-content: center;
}*/



form {
  margin-left: 43%;
  margin-top: 20px;
  border: 2px solid red;
  padding: 40px;
  border-radius: 25px;
}

#contact {
  margin-left: 47%;
  margin-top: 10%
}


#home-button {
  width: 70px;
  height: 70px;
  margin-left: 51%;
  margin-top: 10px;
  color: #8ad3ef;
}